<ng-container
  *ngIf="{
    blackEaglesRoster: blackEaglesRoster | async,
    blueLionsRoster: blueLionsRoster | async,
    goldenDeerRoster: goldenDeerRoster | async,
    churchOfSeirosRoster: churchOfSeirosRoster | async,
    ashenWolvesRoster: ashenWolvesRoster | async,
    selectedCharacters: selectedCharacters | async,
    favoredMeals: favoredMeals | async
  } as mealChartEntity"
>
<p>
  Black Eagles
</p>
<ng-container *ngFor="let character of mealChartEntity.blackEaglesRoster">
  <button
    [class.selected-character__button]="character | selectedCharacterPipe: mealChartEntity.selectedCharacters"
    (click)="selectCharacter(mealChartEntity.selectedCharacters, character)"
    >{{ character }}
  </button>
</ng-container>

<p>
  Blue Lions
</p>
<ng-container *ngFor="let character of mealChartEntity.blueLionsRoster">
  <button
    [class.selected-character__button]="character | selectedCharacterPipe: mealChartEntity.selectedCharacters"
    (click)="selectCharacter(mealChartEntity.selectedCharacters, character)"
    >{{ character }}
  </button>
</ng-container>

<p>
  Golden Deer
</p>
<ng-container *ngFor="let character of mealChartEntity.goldenDeerRoster">
  <button
    [class.selected-character__button]="character | selectedCharacterPipe: mealChartEntity.selectedCharacters"
    (click)="selectCharacter(mealChartEntity.selectedCharacters, character)"
    >{{ character }}
  </button>
</ng-container>

<p>
  Church of Seiros
</p>
<ng-container *ngFor="let character of mealChartEntity.churchOfSeirosRoster">
  <button
    [class.selected-character__button]="character | selectedCharacterPipe: mealChartEntity.selectedCharacters"
    (click)="selectCharacter(mealChartEntity.selectedCharacters, character)"
    >{{ character }}
  </button>
</ng-container>

<p>
  Ashen Wolves
</p>
<ng-container *ngFor="let character of mealChartEntity.ashenWolvesRoster">
  <button
    [class.selected-character__button]="character | selectedCharacterPipe: mealChartEntity.selectedCharacters"
    (click)="selectCharacter(mealChartEntity.selectedCharacters, character)"
    >{{ character }}
  </button>
</ng-container>

<p>
Meals
</p>
<ng-container *ngFor="let meal of mealChartEntity.favoredMeals">
  <div class="meal-label">{{ meal }}</div>
</ng-container>
</ng-container>

