<ng-container
  *ngIf="{
    blackEaglesRoster: blackEaglesRoster | async,
    blueLionsRoster: blueLionsRoster | async,
    goldenDeerRoster: goldenDeerRoster | async,
    churchOfSeirosRoster: churchOfSeirosRoster | async,
    ashenWolvesRoster: ashenWolvesRoster | async,
    selectedCharacters: selectedCharacters | async,
    favoredMeals: favoredMeals | async
  } as mealChartEntity"
>
<div class="meal-chart__wrapper">
  <div class="rosters__wrapper">
    <div class="black-eagles__header">
      Black Eagles
    </div>
    <div class="black-eagles__list">
      <ng-container *ngFor="let character of mealChartEntity.blackEaglesRoster">
        <button
          class="black-eagles__character-button"
          [class.selected-character__button]="character | selectedCharacterPipe: mealChartEntity.selectedCharacters"
          (click)="selectCharacter(mealChartEntity.selectedCharacters, character)"
          >{{ character.name }}
        </button>
      </ng-container>
    </div>

    <div class="blue-lions__header">
      Blue Lions
    </div>
    <div class="blue-lions__list">
      <ng-container *ngFor="let character of mealChartEntity.blueLionsRoster">
        <button
          class="blue-lions__character-button"
          [class.selected-character__button]="character | selectedCharacterPipe: mealChartEntity.selectedCharacters"
          (click)="selectCharacter(mealChartEntity.selectedCharacters, character)"
          >{{ character.name }}
        </button>
      </ng-container>
    </div>

    <div class="golden-deer__header">
      Golden Deer
    </div>
    <div class="golden-deer__list">
      <ng-container *ngFor="let character of mealChartEntity.goldenDeerRoster">
        <button
          class="golden-deer__character-button"
          [class.selected-character__button]="character | selectedCharacterPipe: mealChartEntity.selectedCharacters"
          (click)="selectCharacter(mealChartEntity.selectedCharacters, character)"
          >{{ character.name }}
        </button>
      </ng-container>
    </div>

    <div class="church-of-seiros__header">
      Church of Seiros
    </div>
    <div class="church-of-seiros__list">
      <ng-container *ngFor="let character of mealChartEntity.churchOfSeirosRoster">
        <button
          class="church-of-seiros__character-button"
          [class.selected-character__button]="character | selectedCharacterPipe: mealChartEntity.selectedCharacters"
          (click)="selectCharacter(mealChartEntity.selectedCharacters, character)"
          >{{ character.name }}
        </button>
      </ng-container>
    </div>

    <div class="ashen-wolves__header">
      Ashen Wolves
    </div>
    <div class="ashen-wolves__list">
      <ng-container *ngFor="let character of mealChartEntity.ashenWolvesRoster">
        <button
          class="ashen-wolves__character-button"
          [class.selected-character__button]="character | selectedCharacterPipe: mealChartEntity.selectedCharacters"
          (click)="selectCharacter(mealChartEntity.selectedCharacters, character)"
          >{{ character.name }}
        </button>
      </ng-container>
    </div>
  </div>

  <div class="meals__scroll-wrapper">
    <div class="meals__wrapper">
      <div class="meals__header">
        Meals
      </div>
      <div class="meals__list">
        <ng-container *ngFor="let meal of mealChartEntity.favoredMeals">
          <div class="meal-label">{{ meal.name }}</div>
          <ul class="meal-ingredients">
            <ng-container *ngFor="let ingredient of meal.ingredients">
              <li>
                {{ ingredient }}
              </li>
            </ng-container>
          </ul>
        </ng-container>
      </div>
    </div>
  </div>
</div>
</ng-container>
