/* You can add global styles to this file, and also import other style files */

$background-color: #333333;
$text-color: #EEEEEE;

html {
  background-color: $background-color;
  color: $text-color;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0rem;
  display: flex;
  height: 100%;
}

meal-chart {
  display: flex;
}
